# Byte-compiled Python 3.x source files
*.py[cod]
__pycache__/
# Distribution archives
*.egg-info/
# Database storage
*.db
*.sqlite3

# Log files
*.log

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS metadata
.DS_Store

# Environment variables (if not handled securely elsewhere)
.env

node_modules
package*.*
.venv
venv 
# Build / packaging
build/
dist/
eggs/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django / Flask
local_settings.py
instance/

# Sphinx docs
docs/_build/

# PyInstaller
*.spec

# PEP 582 / pyenv / pipenv
__pypackages__/
.python-version
Pipfile.lock

# Misc
.scrapy
celerybeat-schedule
celerybeat.pid
.mypy_cache/
.ropeproject/
.idea/
.vscode/